<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link  rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"  integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"  crossorigin="anonymous">
    
</head>
<body> 
    <div style="border: 2px solid black;" class="container">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#home">O Clube</a>
                    </li>
                   <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#historia">História</a>
                   </li>
                   <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#titulos">Titulos Recentes</a>
                   </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7b/Gremio_logo.gif" class="w-25 p-3"  alt="">
                    <img src="https://conteudo.imguol.com.br/c/esporte/b3/2023/04/08/luis-suarez-comemora-apos-marcar-para-o-gremio-contra-o-caxias-1680988614762_v2_1920x1280.jpg"class="w-50 p-3 rounded-circle" alt="">
                    <p>O Grêmio Foot-Ball Porto Alegrense é um clube de futebol brasileiro da cidade de Porto Alegre, no Rio Grande do Sul, fundado em 15 de setembro de 1903 por Candido Dias da Silva. É considerado um dos maiores clubes do Brasil e da América do Sul. Suas cores são azul, preto e branco</p>
                </div>
                <div class="tab-pane container fade" id="historia">
                    <img src="https://static.dicionariodesimbolos.com.br/upload/53/e3/simbolo-do-gremio-2_xl.jpeg"  class="w-25 p-3" alt="">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8e/Gr%C3%AAmio_1903.jpg/310px-Gr%C3%AAmio_1903.jpg" class="rounded-circle" alt="">
                    <p>Foi fundado em 15 de setembro de 1903, em um restaurante da região central de Porto Alegre. A equipe venceu o primeiro campeonato que disputou, a Taça Wanderpreiss, em 1905 - que voltaria a ganhar em outras sete oportunidades.</p>
                </div>
                <div class="tab-pane container fade" id="titulos">
                    <table class="table table-striped" >
                        <tr>
                            <th>Campeonato</th>
                            <th>Ano mais recente</th>
                            <th>Quantidade</th>
                        </tr>
                        <tr>
                            <td>Libertadores</td>
                            <td>2017</td>
                            <td>3</td>
                        </tr> <tr>
                            <td>Copa do Brasil</td>
                            <td>2016</td>
                            <td>5</td>
                        </tr> <tr>
                            <td>Campeonato Brasileiro</td>
                            <td>1996</td>
                            <td>2</td>
                        </tr> <tr>
                            <td>Campeonato Gaucho</td>
                            <td>2023</td>
                            <td>42</td>
                        </tr>
                    </table>
                </div>
              </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>